.tableroContainer {
  padding-left: 2rem;
  padding-right: 2rem;
  max-width: 700px;
  margin: 40px auto;
  /* width: 100vw; */
  /* display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row; */
}

.cartas-container {
  margin-top: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr; /* 4 different columns in grid */
  grid-gap: 20px;
}

button {
  background: none;
  border: 2px solid #fff;
  padding: 6px 12px;
  border-radius: 4px;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  font-size: 1em;
}

button:hover {
  background: #c5056a;
  color: #fff;
}
