.tableroContainer {
  padding-left: 2rem;
  padding-right: 2rem;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.cartas-container {
  display: flex;
  flex-wrap: wrap;
}
